body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: white;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 10px 20px;
    color: white;
}

.search-container input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.search-container button {
    padding: 10px;
    background: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.discussion-page {
    display: flex;
    height: calc(100vh - 110px);
}

.side-bar {
    width: 200px;
    background: #121212;
    padding: 20px;
}

.prev-discussions {
    background: #444;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

#previous-discussions-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#previous-discussions-list li {
    background: #333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.main-content {
    flex-grow: 1;
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: row;
}

.new-discussion, .ask-mentor {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    flex: 1;
    height: 100%;
    width: 50%;
}

.ask-mentor {
    display: none;
}

.messages {
    min-height: 150px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #444;
    margin-top: 10px;
    border-radius: 5px;
    background: #181818;
}

.input-bar {
    display: flex;
    margin-top: 10px;
}

.input-bar input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.input-bar button {
    padding: 10px;
    background: #6a92d4;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#ask-mentor-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #6a92d4;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


.icons i {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
}

.icons a {
    text-decoration: none;
    color: inherit; 
}

.icons i:hover {
    color: white; 
}
